old_code/
.DS_Store
.env
.venv/
.vscode/
.idea/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.ruff_cache/

docs/
src/lakehouse_plumber.egg-info/
__pycache__/
Sample_Projects/
TEST_DOCUMENTATION.md
ERROR_REFERENCE.md
UNTESTED_LOGIC_ANALYSIS.md
